# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Project specific
lora-model/
podcast-lora/
lex_guest_qa_dataset/
*.json
!requirements.txt
!readme.md
